<header>
  <div class='logo-name'>
    <img class='logo' src='/images/logo.png' />
    <a href='/'>
      <h2 class='name'>Games Warehouse</h2>
    </a>
  </div>
  <div class='nav-links'>
    <nav>
      <label for='touch'><span class="menu-span">Menu</span></label>
      <input type='checkbox' id='touch' />
      <ul class='slide'>
        <li><a href='/'>Homepage</a></li>
        <li><a href='/games'>Games</a></li>
        <li><a href='/genres'>Genres</a></li>
        <li><a href='/developers'>Developers</a></li>
      </ul>
    </nav>
  </div>

  <div class='sign-up'>
    <% if (!locals.currentUser) { %>
      <ul>
        <li><a href='/log-in'>Log in</a></li>
        <li><a href='/sign-up'>Sign up</a></li>
      </ul>
      <% } else { %>
      <ul>
        <li><h2 class="username"><%= currentUser.username %></h2></li>
        <li><a href="/log-out">Log out</a></li>
      </ul>
      <% } %>

  </div>
</header>