<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='shortcut icon' href='/images/site-favicon.ico' type='image/x-icon' />
  </head>
  <body>
    {{> header }}
    {{{ body }}}
    {{> footer }}
  </body>
</html>