<main>
  <div class='main-content'>
    <div class='title main-divs'>
      <h1 class='title-name'>
        Welcome to Games Warehouse!
        <br />
        Here you can find information about different games that we have right now.
        <br />
        Select them by genre or by Developers.
        <br />
        You can also add a new game, genre or developer by your own!
      </h1>
    </div>

    <div class='instructions main-divs'>
      <div class='first-row-instructions'>
        <div class='register-dev'>
          <a href='/developer/create'>
            <h2>1. Register your Developer page</h2>
            <img src='/images/register.png' alt='Registration' />
          </a>
        </div>
        <div class='register-genre'>
          <a href='/genre/create'>
            <h2>2. Add genres if it's missing</h2>
            <img src='/images/add-genre.png' alt='Add genre' />
          </a>
        </div>
      </div>
      <div class='register-game'>
        <a href='/game/create'>
          <h2>3. Add game to list</h2>
          <img src='/images/add-game.png' alt='Add game' />
        </a>
      </div>
    </div>
  </div>

  <div class='inventory-links'>
    <div class='link-gamelist'>
      <img src='/images/games-list.jpg' alt='Games list' />
      <a href='/games'><span class='button-links'><p></p></span></a>
    </div>
    <div class='link-genrelist'>
      <img src='/images/genres-list.jpg' alt='Genres list' />
      <a href='/genres'><span class='button-links'><p></p></a>
    </div>
    <div class='link-devlist'>
      <img src='/images/devs-list.png' alt='Developers list' />
      <a href='/developers'><span class='button-links'><p></p></a>
    </div>
  </div>
</main>
