.grid {
  margin-top: 20px;
  padding: 0 20% 100px 20%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

@media only screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.GridDiv {
  /* border: solid; */
  margin: 10px 10px 0 10px;
  width: fit-content;
  box-sizing: border-box;
  transition: 300ms;
  height: fit-content;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.1);
  border-bottom-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.2);
  padding: 15px;
  cursor: pointer;
  position: relative;
}

.GridDiv:hover {
  transform: scale(1.07);
}
.GridDiv:active {
  background: rgba(255, 255, 255, 0.4);
  transition: 400ms;
}

.GridDiv img {
  max-width: 200px;
  max-height: 150px;
}

.list-title {
  font-family: 'Bebas Neue', Courier, monospace;
  text-transform: capitalize;
  color: black;
  padding: 20px 20px 0 20px;
  font-size: 2.5em;
  letter-spacing: 2px;
}

.GridDiv h3 {
  font-family: 'Comfortaa', Courier, monospace;
  color: black;
  margin: 10px 10px 0 10px;
}

/* BUTTONS */

.btn-div {
  padding: 25px 0;
}

.btn {
  background-color: transparent;
  border: 3px solid;
  color: #034ec0;
  border-radius: 0px;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  font-family: "Lucida Grande", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  margin: 0 25px;
  border-color: #0258d8;
  box-shadow: inset 0 0 0 0 #0258d8;
}

.btn:hover {
  color: white;
  box-shadow: inset 400px 0 0 0 #0258d8;
}
