@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@500&family=Fredoka+One&display=swap');
@import "_header.css";
@import "_footer.css";
@import "_index.css";
@import "_forms.css";
@import "_gridList.css";
@import "_genre_detail.css";
@import "_game-developer_detail.css";

/* ROOT */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* MAIN PARTS */

header,
footer {
  font-family: 'Comfortaa', Courier, monospace;
}

body {
  text-align: center;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

main {
  background-color: #d4d4d4;
  min-height: 500px;
}

a {
  color: white;
  text-decoration: none;
}

/* Delete form */

.delete-form img {
  max-height: 150px;
  max-width: 200px;
}

.delete-form h3 {
  font-size: 20px;
}

/* Genre not found image */

.not-found {
  height: 300px;
  border: none;
}
